header {

	background: darken( $pastel-grey, 30% );
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	.logo {
		font-family: 'Jura', Arial;
		text-decoration: none;
		font-size: 1.2em;
		line-height: 40px;
		outline: none;
		margin-left: 0.5em;
		color: $pastel-grey;
	}

	.menu {
		color: $pastel-grey;
		float: right;
		width: 35px;
		height: 100%;
		line-height: 40px;
		text-align: center;
		transition: all ease-in-out 300ms;

		&:hover {
			color: darken( $pastel-grey, 30% );
			background: $pastel-grey;
		}
	}
}