body {
	background: $body-color;
	color: $body-text-color;
	padding-bottom: 345px;
	padding-top: 40px;
	font-family: 'Open Sans', sans-serif;

	&.control-hide {

		padding-bottom: 40px;

		.piano-wrapper {

			bottom: -304px;

			.piano-control--open {
				display: inline;
			}
			.piano-control--close {
				display: none;
			}

		}
	}

}

.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

h1, h2, h3, h4, h5 {
	font-family: 'Jura', cursive;
}

main {
	padding: 1em;
}