<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="/a/css/font-awesome.css" />
            <link rel="stylesheet" href="/a/css/main.css" />
            <title>MIDI Zone</title>
        {% endblock %}
    </head>
    <body class="{# control-hide #}">

        {% include 'common/loader.html.twig' %}

        {% include 'common/header.html.twig' %}

        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
    <script type="text/javascript" src="/a/js/commons.js"></script>
    <script type="text/javascript" src="/a/js/home.js"></script>
</html>