<div class="drumpad">

	{% set loops = [
		'bass',
		'clap',
		'drum',
		'drum2',
		'drum3',
		'snare',
		'synth',
		'tropical'
	] %}

	<ul>
		{% for l in loops %}
		 	<li>
		 		<a href="" class="j-drumpad" data-loop={{ l }}>
		 			<span class="key--load j-key-load">
						{# <i class="fa fa-question" aria-hidden="true"></i> #}
						<i>{{ loop.index }}</i>
					</span>
		 		</a>
		 	</li>
		{% endfor %}
	</ul>

</div>