<div class="drumpad">

	<ul>
		{% for drum in drumpadOptions %}
			<li>
				<a href="" class="j-drumpad" data-loop={{ drum['audio'] }}>
					<span class="key--load j-key-load">
						{% if drum['keyMapping'] == null %}
							<i class="fa fa-question" aria-hidden="true"></i>
						{% else %}
							<i>{{ drum['keyMapping'] }}</i>
						{% endif %}
					</span>
				</a>
			</li>
		{% endfor %}
	</ul>

</div>