<div class="modal modal--key">

	<div class="modal--inner">

		<p>Waiting for a keypress</p>

		<div class="key-loader">
			<span></span>
			<img src="/a/svg/three-dots.svg" alt="Loading" />
		</div>

		<small>Press any alphanumeric keyboard key you would like to bind this piano key to</small>

	</div>

</div>