<!-- Piano -->
<div class="piano-wrapper">
	<div class="piano-controls">
		<a id="piano-control" href="">
			<span class="piano-control--close">
				<i class="fa fa-minus" aria-hidden="true"></i> close keyboard
			</span>
			<span class="piano-control--open">
				<i class="fa fa-plus" aria-hidden="true"></i> open keyboard
			</span>
		</a>
	</div>
	<ul class="piano">

		{% for keySets in pianoOptions %}
			<li class="key">
				{% for key in keySets %}

					<span class="{{ key['keyColour']}}-key j-key {{ key['keyMapping'] }}" data-note={{ key['audio'] }}>
						<a class="key--load j-key-load" href="">
							{% if key['keyMapping'] == null %}
								<i class="fa fa-question" aria-hidden="true"></i>
							{% else %}
								<i>{{ key['keyMapping'] }}</i>
							{% endif %}
						</a>
					</span>
			
				{% endfor %}

			</li>
		{% endfor %}

	</ul>
</div>	
<!-- End Piano -->
		